<!-- Reconstructed from Ivy functions Dt, Zt and the operation-list definition. -->
<ng-container *ngIf="!isTablet">
  <dp-universal-list
    #operationsList
    class="operations-dp-list"
    [params]="operationListParams"
    (runAction)="onRunAction($event)"
    (runEvent)="onRunEvent($event)"
  ></dp-universal-list>
  <app-operation-side-menu></app-operation-side-menu>
</ng-container>
<ng-container *ngIf="isTablet">
  <dp-universal-list
    #operationsAdaptiveList
    class="operations-dp-tablet-list"
    [params]="operationAdaptiveListParams"
    (runAction)="onRunAction($event)"
    (runEvent)="onRunEvent($event)"
  ></dp-universal-list>
</ng-container>
